
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    background-color: #ff6600;
}

nav li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #cc5200;
}


html{
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 90%;
    margin-left: 5%;

}

#container {
    
    background-color: #f4c842;
        min-height: 100%;

}

#logoNav{
    width: 3.7%;
    margin-left: 1%;
    margin-top: 0.3%;
}